* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    font-family: Arial, sans-serif;
}

.cscv {
    text-align: center;
    justify-content: center;
    color: white;
    display: flex;
    margin: 0;
    margin-top: -350px;
    padding: 10px 20px;
    gap: 20px;
}

video {
    width: 700px;
    max-width: 1440px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(222, 209, 209, 0.981);
    transform: scaleX(-1);
    margin: o auto;
}